<html lang="en">

<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="bName" placeholder="Введите название книги">
            <input type="text" name="bAuthor" placeholder="Введите имя автора">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Добавить книгу</button>
        </form>
    </div>
    <div>Список книг</div>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Найти книгу</button>
    </form>
    {{#books}}
        <div>
            <b>{{bId}}</b>
            <span>{{bName}}</span>
            <i>{{bAuthor}}</i>
        </div>
    {{/books}}
</body>
</html>